body {
	padding-left: 30px;
	padding-right: 30px;
	font-family: "Liberation Sans", Arial, "sans serif";
	font-size: large;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	border-bottom: solid black;
}

ul {
	line-height: 1.8em;
}

